@import "_breakpoints", "_functions", "_variables";
//++++Icons Font++++//
@font-face {
  font-family: "Flaticon";
  src: url("../font/Flaticon.eot");
  src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../font/Flaticon.woff2") format("woff2"),
    url("../font/Flaticon.woff") format("woff"),
    url("../font/Flaticon.ttf") format("truetype"),
    url("../font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font/Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-user:before {
  content: "\f100";
}
.flaticon-home:before {
  content: "\f101";
}
.flaticon-supermarket:before {
  content: "\f102";
}
.flaticon-home-1:before {
  content: "\f103";
}
.flaticon-headphones:before {
  content: "\f104";
}
.flaticon-settings:before {
  content: "\f105";
}
.flaticon-note:before {
  content: "\f106";
}
.flaticon-smartphone:before {
  content: "\f107";
}
.flaticon-phone:before {
  content: "\f108";
}
.flaticon-delivery-boy:before {
  content: "\f109";
}
.flaticon-payment-method:before {
  content: "\f10a";
}

$font-Flaticon-user: "\f100";
$font-Flaticon-home: "\f101";
$font-Flaticon-supermarket: "\f102";
$font-Flaticon-home-1: "\f103";
$font-Flaticon-headphones: "\f104";
$font-Flaticon-settings: "\f105";
$font-Flaticon-note: "\f106";
$font-Flaticon-smartphone: "\f107";
$font-Flaticon-phone: "\f108";
$font-Flaticon-delivery-boy: "\f109";
$font-Flaticon-payment-method: "\f10a";

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
  color: #1b1b1b;
}
.glyph-icon {
  display: block;
}
//++++Color Variables++++//
$colors: (
  font-white: #fff,
  bgcolor: #fbfbfb,
  primary: #007fff,
  font-dark: #1b1b1b
);
@function color($color-name) {
  @return map-get($colors, $color-name);
}
//++++Variable Breakpoints++++//
@mixin breakpoint($point) {
  @if $point=xlr {
    @media (max-width: 1199px) {
      @content;
    }
  }
}
//++++Fonts++++//
$prompt: Prompt, sans-serif;
$poppins: Poppins, sans-serif;
$mont: Montserrat, sans-serif;
$comfor: Comfortaa, cursive;
//++++Keyframes++++//
@keyframes colorchange {
  0% {
    background: #667eea;
  }
  30% {
    background: #764ba2;
  }
  60% {
    background: #00cdac;
  }
  100% {
    background: #3cba92;
  }
}
@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
  0% {
    background: #667eea;
  }
  30% {
    background: #764ba2;
  }
  60% {
    background: #00cdac;
  }
  100% {
    background: #3cba92;
  }
}
//++++General CSS++++//
html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: $prompt;
  margin: 0;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $comfor;
}
a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
.sectionWrapper {
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}
//++++Topbar++++//
.topBarWrapper {
  animation: colorchange 50s infinite; /* animation-name followed by duration in seconds*/ /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 50s infinite; /* Chrome and Safari */
  transition: all 0.5s ease 0s;
  padding: 5px 0;
  #changingword {
    color: color(font-white);
    text-align: center;
    font-size: 14px;
    margin: 0;
    font-family: $mont;
    font-weight: 500;
    letter-spacing: 1px;
    position: absolute;
    left: 0;
    right: 0;
    width: max-content;
    margin: 0 auto;
    @include media-breakpoint-down(md) {
      position: relative;
      font-size: 10px;
      letter-spacing: 0.5px;
      padding: 2px 0;
    }
    a {
      color: color(font-white);
      span {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      }
    }
  }
  .topBarMenu {
    display: inline-block;
    .menuItem + .menuItem {
      margin-left: 5px;
      padding-left: 8px;
      border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
    .menuItem {
      display: inline-block;
      a {
        color: color(font-white);
        font-family: $comfor;
        display: block;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.5px;
      }
    }
  }
}
//++++Main Menu++++//
.siteHeader {
  padding: 20px 0;
  &.sticky {
    background: color(font-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    padding: 12px 0;
    transition: all 0.2s ease 0s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }
  .menuWrapper {
    display: inline-block;
    .menuItem + .menuItem {
      margin-left: 20px;
    }
    .menuItem {
      display: inline-block;
      a {
        font-family: $prompt;
        color: color(font-dark);
        font-size: 17px;
        //text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
      }
    }
  }
  .iconsWrapper {
    display: inline-block;
    .iconsItem + .iconsItem {
      margin-left: 20px;
    }
    .iconsItem {
      display: inline-block;
      .glyph-icon {
        font-size: 20px;
        font-weight: 300;
      }
    }
  }
  .whatsappWrapper {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 9;
  }
}
//++++Banner++++//
.bannerWrapper {
  .bannerSingle {
    .slick-dots {
      bottom: 22px;
      li {
        margin: 0;
        width: 8px;
        height: 8px;
        button {
          padding: 0;
          &:before {
            content: " ";
            background: color(font-white);
            width: 8px;
            height: 8px;
            border-radius: 100%;
          }
        }
        &.slick-active {
          width: 22px;
          position: relative;
          top: 2px;
          button {
            &:before {
              width: 22px;
              height: 4px;
              border-radius: 38px;
              opacity: 1;
            }
          }
        }
      }
      li + li {
        margin-left: 10px;
      }
    }
    .bannerItem {
      img {
        height: 400px;
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }
  }
}
//++++How we can help section++++//
.howToHelpWrapper {
  padding: 50px 0;
  h3 {
    font-family: $comfor;
    font-size: 18px;
    color: color(primary);
  }
  h2 {
    font-family: $prompt;
    font-size: 55px;
    font-weight: 300;
  }
  .serviceItem {
    padding: 0px 20px;
    margin: 0 0 50px;
    .itemImage {
      width: max-content;
      position: relative;
      img {
        position: relative;
        left: 8px;
      }
      &:after {
        content: "";
        width: 100px;
        height: 100px;
        background: linear-gradient(to top, #fcfcfc 20%, #32cfa7);
        border-radius: 50%;
        position: absolute;
        left: 0px;
        bottom: -30px;
        z-index: -1;
      }
      &.crackedScreen {
        &:after {
          background: linear-gradient(to top, #fcfcfc 20%, #f5af19);
        }
      }
      &.poorBattery {
        &:after {
          background: linear-gradient(to top, #fcfcfc 20%, #ec008cbf);
        }
      }
      &.bentChasis {
        &:after {
          background: linear-gradient(to top, #fcfcfc 20%, #2f80edbf);
        }
      }
      &.brokenSpeaker {
        &:after {
          background: linear-gradient(to top, #fcfcfc 20%, #6e48aabf);
        }
      }
    }
    .contentHolder {
      margin: 29px 0 5px;
      h3 {
        font-size: 28px;
        margin: 0 0 10px;
      }
      p {
        margin: 0 0 20px;
        font-size: 14px;
        font-weight: 300;
      }
      .readMore {
        p,
        a {
          color: color(primary);
          font-size: 13px;
          margin: 0;
          font-weight: 400;
        }
        a {
          text-decoration: underline;
        }
      }
    }
  }
}
//++++Procedure++++//
.procedureWrapper {
  padding: 50px 0;
  background: color(bgcolor);
  h2 {
    color: color(font-dark);
    font-size: 45px;
    margin: 0 0 5px;
  }
  .procedure {
    background: color(font-white);
    padding: 35px 20px;
    //box-shadow: 0 25px 70px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 40px 140px 0px rgba(171, 181, 189, 0.4);
    margin: 0 0 40px;
    border-radius: 6px;
    .imgWrap {
      margin: 0 0 15px;
      .icon {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          &:before {
            color: color(font-white);
          }
          position: relative;
          font-size: 34px;
          left: 3px;
          top: 2px;
          &.flaticon-smartphone {
            left: 0;
          }
        }
        &.mobile {
          background: linear-gradient(
            -60deg,
            rgba(50, 207, 167, 0.75),
            rgba(150, 201, 61, 0.75)
          );
        }
        &.issue {
          background: linear-gradient(
            -60deg,
            rgba(241, 39, 17, 0.7),
            rgba(245, 175, 25, 0.7)
          );
        }
        &.repair {
          background: linear-gradient(
            -60deg,
            rgba(236, 0, 140, 0.75),
            rgba(255, 103, 103, 0.75)
          );
        }
        &.payment {
          background: linear-gradient(-60deg, #2f80edbf, #56ccf2bf);
        }
      }
    }
    .contentWrap {
      h3 {
        font-size: 26px;
        margin: 0 0 15px;
        letter-spacing: 1px;
      }
      p {
        font-weight: 300;
        font-size: 14px;
        margin: 0;
      }
    }
  }
}
//++++types of repair++++//
.typesOfrepair {
  padding: 50px 0;
  h2 {
    color: color(font-dark);
    font-size: 45px;
    margin: 0 0 5px;
  }
}
